@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* styling for algolia hits and energy models page */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  padding: 24px;
  font-size: 14px;
  line-height: 24px;
  overflow-y: scroll;
  display: flex;
  font-family: "Open Sans", sans-serif;
  background: #f0f2f5;
  flex-direction: column;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ais-InstantSearch__root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: #5468ff;
}

/* highlights the hit items */
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  font-style: normal;
  background-color: #FFFF00;
}

.ais-InstantSearch__root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

@media (max-width: 360px) {
  .search-container {
    width: 100%;
  }
}

.ais-SearchBox-input {
  box-shadow: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.ais-Hits-item,
.ais-SearchBox-input {
  height: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ais-SearchBox-input:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* search box styling */
#searchbox {
  flex-grow: 0;
  margin-bottom: 8px;
}

#searchbox,
#stats {
  flex-grow: 0;
}

.ais-SearchBox {
  position: relative;
  height: auto;
  width: 100%;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  position: absolute;
  top: 0;
  left: inherit;
  margin: 14px 16px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.ais-SearchBox-submit svg,
.ais-SearchBox-reset svg {
  width: 13px;
  height: 13px;
  display: block;
}

.ais-SearchBox-submit svg {
  fill: #5468ff;
}

.ais-SearchBox-reset svg {
  fill: #ed5a6a;
}

.ais-SearchBox-submit {
  right: 0;
}

.ais-SearchBox-reset {
  background: none;
  padding: 0;
  border: none;
  right: 30px;
}

.ais-SearchBox-input {
  width: 100%;
  padding: 8px 16px;
  font-weight: normal;
  border: none;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* hit styling */
#hits {
  flex-grow: 1;
  order: 1;
}

.ais-Hits {
  display: flex;
  flex-wrap: wrap;
}

.ais-Hits-item {
  margin: 10px;
  width: 45%;
}

/* hit content styling */
.hit {
  display: flex;
  padding: 16px;
}

.hit-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hit-image {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.hit-image img {
  width: auto;
  max-height: 176px;
}

.hit-name {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 8px;
  align-self: center;
}

.hit-description {
  color: rgb(153, 153, 153);
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 16px;
}

/* footer pagination buttons */
#pagination {
  order: 1;
}

.ais-Pagination-list {
  display: flex;
  margin: 0 0 16px;
  padding: 0;
  background: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: none;
  flex-wrap: wrap;
}

.ais-Pagination-link {
  display: block;
}

.ais-Pagination-item,
.ais-Pagination-item--disabled {
  flex: 0 0 40px;
  width: auto;
  height: auto;
  margin: 4px;
  background-color: #5468ff;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  border-radius: 4px;
  transition: all 0.1s linear;
}

.ais-Pagination-item--disabled {
  display: none;
}

.ais-Pagination-item:hover,
.ais-Pagination-item--selected {
  background-color: #3a46a1;
}

.ais-Pagination-item .ais-Pagination-link,
.ais-Pagination-item--disabled .ais-Pagination-link {
  padding: 6px 16px;
  text-decoration: none;
  color: #fff;
  line-height: 20px;
}

/* displays hits as list */
ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* Removes bulleted list */
li {
  list-style-type: none;
}
/* displays paginations */
.ais-Pagination-list {
  display: flex;
  justify-content: center;
}

/* Displays left panel for sorting and filtering */ 
.left-panel {
  flex: 0 0 290px;
}

/* Panel header for Filtering */
.ais-Panel-header {
  font-weight: bolder;
  margin: 0;
  padding: 0 16px 8px;
  font-size: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

/* Styling for the Sorting and filtering components*/
/* .ais-RefinementList-item,
.ais-RefinementList-noResults {
  padding: 8px 16px;
} */

.ais-RefinementList-label {
  cursor: pointer;
}

.ais-RefinementList-labelText,
.ais-RefinementList-labelText:hover {
  color: black;
  cursor: pointer;
}

.ais-RefinementList-count {
  background: none;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  color: #999;
  float: inline-end;
}

.ais-RefinementList-item--selected .ais-RefinementList-label {
  font-weight: 700;
}

.ais-RefinementList-checkbox {
  margin: 5px;
}

.ais-RefinementList-labelText {
  margin-left: 0.6em;
}

.ais-RefinementList-item--selected .ais-RefinementList-labelText,
.ais-RefinementList-item--selected .ais-RefinementList-count {
  font-weight: normal;
}

#Renewability,
#outputenergytype {
  box-shadow: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

#Renewability,
#outputenergytype {
  margin-bottom: 24px;
}

#Renewability,
#outputenergytype,
#renewability {
  margin-right: 20px;
  padding: 16px 0;
}

#Renewability,
#outputenergytype,
#renewability,
.ais-Hits-item,
.ais-SearchBox-input {
  height: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
