.full-height {
    height: 250px;
}

.fix-btm {
    position: absolute;
    bottom: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.my_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.my_model {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.link_style {
    color: #000000;
    text-decoration: none;
}

.link_style:hover {
    color: #6996FF;
    cursor: pointer;
    text-decoration: none
}
